<html>

<body>
    <form action="/auth/login" method="POST">
        <label>EMAIL:</label>
        <input type="text" name="email" id="email">
        <label>Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>

</html>
